<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/slide.css') }}"
    />
  </head>
  <body>
    <div class="slide_wrapper">
      <ul class="slides">
        <li>
          <img
            src="//i.namu.wiki/i/T9YYhccJVawLId6z0jnP7css3LamSpQEtbKYJbOYvU-rqJT6noS94_kzsyH_v1Srd7GNxyo7R6V8Pk0P2w1fMC3AAw3EvOMIMrXrCuriUfv_yIq8qaBd_rjjgsAQJFGD8UGQkrsKIrxAb5fbbszg_A.webp"
            alt=""
            data-caption='"쏠 수있어!!"  -정마담'
          />
        </li>
        <li>
          <img
            src="//i.namu.wiki/i/Zt0G-mLo90kWtvblK0O8VN0zxYAv_tS83TmBR6rb85IxrVD5-ryqhJ3koEUO6ZtJ5NuHNK8NBUDNaM_xc7GX8PI3qyZC9y1LYtcdWgG9u0ofdNWypCGYXlphmKJSE6cTB_Kz-yj6m7fslIgvJLyj6Q.webp"
            alt=""
            data-caption='"도둑이 왜 가난한지 아니? 비싼거 훔쳐서 싸게 팔잖아"  -팹시'
          />
        </li>
        <li>
          <img
            src="//i.namu.wiki/i/39_E9xy6oOrblvQ0FZ5bt2QLzLoTMveT8gA8MnpEDo5zsBD_LvJUxajJwa3GcvPJA9U4pzGVHoEFupkLq7-RQ56PEegcrWfwTStx0DbQdAJFkLS8K8W5RFjz4azij1ZOHNzGxZfONSzSqw6rrxVbdQ.webp"
            alt=""
            data-caption='"어떻소? 세상 구경?"  -연홍'
          />
        </li>
        <li>
          <img
            src="//i.namu.wiki/i/IuuJznznBCTEi2va71kGl9Y1SOJ93AUA9iyp1gMKOMFocziCbZy_UpMGsOlwyCsntmIYtTIlzpJUHZf_bBjEO4l-r4qRGFRyBlpWEzdySVeqIXE8vWh9wcn1p4ijGVqFO2esYU6qf-ajuIp5u0HWoQ.webp"
            alt=""
            data-caption='"나는 왜 열심히 살았는데 내거 하나 없어? 왜 내편 하나 없어?  -고주연"'
          />
        </li>
        <li>
          <img
            src="//i.namu.wiki/i/wO9WB_700GP1RT47OACsKsJxOE269g-tXfLl6AvC5hCLvfd2rNhGKZVyuW_Tpbs6uf1ClrReqagpOm0W0N3ikPlGZI15MWOEPLWfqVN4tydy5CFSwtrll62Xyrv5MDXSXEq-4-HTI0b2FvanuPUJcg.webp"
            alt=""
            data-caption='"해보지도 않고 후회하느니 엉망이 되더라도 해보는게 낫지 않겠어?  -차수현'
          />
        </li>
        <li>
          <img
            src="//i.namu.wiki/i/-ISs8MwLTrkmlI12Gj16Mu7d8IQFmRZGhtetSbWOnJIWcURwPnWXEvF1yDRGHpMHL3PkaFh_kEu0MEmqdtQymdNcFLJnf-3kEJ34wG1mwFprU3nS3Cd-UjBDR7bGLgXqXedKeFDlrbVWOERo4AcMsA.webp"
            alt=""
            data-caption='"빠마씨, 회사에서 내 의자를 잃는 것보다 무서운 건 동료를 잃는 거야."  -미스김'
          />
        </li>
      </ul>
      <p class="controls">
        <span class="prev">⪡</span>
        <span class="next">⪢</span>
      </p>
    </div>
    <script src="{{ url_for('static', filename='js/slide.js') }}"></script>
  </body>
</html>
